body {
	background-color: #101935;
	color: #DBCBD8;
	font-size: 10px;
	font-family: monospace, calibri;
	text-align: center;
	margin: 0;
	line-height: 1.5;
}

#main {
	background-color: #564787;
	margin: 30px 8px;
	padding: 15px;
	border-radius: 2px;
}

h1 {
	font-size: 4rem;
	margin-top: 0;
	margin-bottom: 0;
}

@media (max-width: 460px) {
	h1 {
		font-size: 3.5rem;
		line-height: 1.2;
	}
	#main {
		margin: 0;
	}
}

h3 {
	font-size: 1.5rem;
}

p {
	font-size: 1.5rem;
}

img {
	display: block;
	max-width: 50%;
	height: auto;
	margin: 0 auto;
}

#img-div {
	background-color: #101935;
	border-radius: 5px;
	padding: 10px;
	margin: 0;
}

/*#image {
	display: block;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}*/

#img-caption {
	margin: 15px 0 5px 0;
}


@media (max-width: 460px) {
	#img-caption {
		font-size: 1.4rem;
	}
}


ul {
	margin: 0 auto 5px auto;
	text-align: left;
	font-size: 1rem;
	margin-bottom: 8rem;
}

li {
	margin: 15px 0;
}

a {
	text-decoration: none;
	color: #AB87A5;

}

a:visited {
	text-decoration: none;
	color: #AB87A5;
}

a:hover {
	text-decoration: underline;
}

footer {
	padding-top: 0;
	padding-bottom: 0;
}

.footer {
	font-size: 1rem;
	margin-top: 0;
	padding: 0;
}